<%= render(:partial => "concepts.js", :collection => @concepts) %> 

<% @concepts.each_with_index do |concept, index| %>
    <div class="concept-card concept-hidden" data-position="<%= index %>">
        <p class="lead"><%= concept.question %></p>
        <p class="answer"><%= concept.answer %></p>
        <p class="show-answer"><button class="btn btn-lg btn-success show-answer-button" href="#" role="button">Show Answer</button></p>
    </div>
<% end %>

<div class="concept-next">
    <span class="glyphicon glyphicon-circle-arrow-right concept-next-button"></span>
</div>
<p class="position-viewer"><span class="current-position">1</span>/3</p>
